@page
@model IndexModel
@{
    ViewData["Title"] = "Pizza lovers just like it";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 8, 14);
}

<div class="text-center">
    <p class="lead">We've been here for @Convert.ToInt32(timeInBusiness.TotalDays) days!</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
